.event-header {
    align-items: center;
    display: flex;
    flex-direction: row;

    >.icon {
        height: 1.5em;
        margin-right: .5em;
        width: 1.5em;
    }

    >.description {
        >.time {
            font-style: italic;
        }

        >.title {
            font-weight: bold;
        }
    }
}
